<div class="front">
  <div class="container">
   <h4 class="text-center mt-5 mb-3">All Expenses Of {{groupDetails.name}}</h4>
  <div class="resultTable mt-5">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ExpenseId</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <!-- <tbody *ngFor="let expense of expenses">        
          <tr>
            <td>{{expense.id}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.amount}}</td>
            <td>{{expense.date | date: 'dd-MM-yyyy'}}</td>
          </tr>
        </tbody> -->
        <tbody>
          <ng-container *ngFor="let expense of expenses">
            <tr class="clickable" (click)="toggleExpenseDetails(expense)">
              <td>{{ expense.id }}</td>
              <td>{{ expense.description }}</td>
              <td>{{ expense.amount }}</td>
              <td>{{ expense.date | date: 'dd-MM-yyyy' }}</td>
            </tr>
            <tr *ngIf="expense.expenseSplits && expense.showDetails">
              <td colspan="4">
                <div class="details-container">
                  <h6>Expense Splits:</h6>
                  <table class="table table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let split of expense.expenseSplits">
                        <td>{{ split.user.name}}</td>
                        <td>{{ split.amount }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>    
  </div>
  </div>
  </div>