<div class="front">
  <div class="container">
   <h4 class="text-center mt-5 mb-3">All Expenses Of {{groupDetails.name}}</h4>
  <div class="resultTable mt-5">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ExpenseId</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody *ngFor="let expense of expenses">        
          <tr>
            <td>{{expense.id}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.amount}}</td>
            <td>{{expense.date | date: 'dd-MM-yyyy'}}</td>
          </tr>
        </tbody>
      </table>    
  </div>
  </div>
  </div>