.display-details{
    background-color: whitesmoke;
    height:calc(100vh - 4rem);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.group-content{
    display: flex;
    text-align: center;
    justify-content: center;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.members-card{
    left:0px;
    background-color: aqua;
    float: left;
}
.display-row{
    margin-right: 10px;
    margin-left: 20px;
    display: flex;
    gap: 40px;
}

.total-expense-show{
    padding: 20px;
    background-color: #030303;
    color:#ffffff;
    border-radius: 20px;
}
.add-expense, .group-members, .all-expense{
    padding: 20px;
    background-color: #030303;
    color:#ffffff;
    border-radius: 20px;
}

.add-expense mat-icon, .group-members mat-icon, .all-expense mat-icon{
    background-color: #595959 ;
    border-radius: 50px;
    height: 50%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.add-expense mat-icon:hover{
   cursor: pointer;
}
.padded-icon{
    padding: 10px;
}

/*Your expense list css*/
#headerLogo{
    margin-left: 15px;
    margin-right: 10px;
}
.heading h1{
    margin:5px 0px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}


.cartBgId {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background:#f2f2f2;
}

.cart {
    
    margin:10px 0px;
    border-radius: 30px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-header h3 {
    font-size: 20px;
    font-weight: 500;
}

.cart-items {
    margin-bottom: 20px;
}


.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}

.cart-item-image {
    width: 80px;
}


.cart-item-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cart-item-info {
    flex-grow: 1;
    margin-left: 20px;
}

.cart-item-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.cart-item-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #666;
}
.cart-total {
    font-size: 1.2rem;
    font-weight: bold;
}
.cart button{
    background-color: #42bd67;
    border: 2px solid #42bd67;
    margin:5px 5px;
}
.cart button:hover{
    transform: translateY(-5px);
    background-image: linear-gradient(-45deg, #42bd67 0%, #92e3a9 100%);
}
.cart-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.order-date{
    margin-right:50px;
    text-align: center;
    justify-content: center;
    font-size:1rem;
    font-weight: 500;
    color:grey;
    margin-top: 10px;
}

.positive {
    color: green;
  }
  
  .negative {
    color: red;
  }

  
