 <!--Cart section-->
 <section class="product-cart">
  <div class="container heading text-center">
      <h1 class="text-center font-weight-bold">All Groups</h1>
  </div>

  <div class="container" id="cartBgId">
      <div class="cart">
          <div class="cart-items"  *ngFor="let group of groups ">
              <div class="cart-item">
                  <div class="cart-item-image">
                      <img [src]="getRandomGroupImages()" alt="">
                  </div>
                  <div class="cart-item-info">
                      <h4>{{group.name}}</h4>
                      <p>{{group.description}}</p>
                  </div>
                  <div class="order-date d-inline-flex">
                      <p class="text-muted px-4">{{group.createdDate | date:'dd-MM-yyyy'}}</p>
                      <div class="cart-buttons">
                        <button class="rounded-pill px-2 py-1 text-white" [routerLink]="['/','view-group', group.id]">View Group</button>
                    </div>
                  </div>
              </div>
          </div>
          <!-- <div class="cart-total">
              <h3>Total: <span>&#8377;</span>400</h3>
          </div>
          <div class="cart-buttons">
              <button class="rounded-pill px-2 py-1 text-white">Continue Shopping</button>
          </div> -->
      </div>
  </div>
</section>

