/* *{
    overflow: hidden;
} */
.card{
    padding: 0px 15px;
    border-radius: 20px
}


.left-grid{
   
    background-color: #a5582c;
    border-radius: 20px
}

a{
    margin: 0px;
    font-size: 13px;
    border-radius: 7px;
    text-decoration: none;
    color: black
}
a:hover{
    color: whitesmoke;
    /* background-color: #fff2f1; */
    background-color: #02386E;
}
.nav-link{
    padding: 1rem 1.4rem;
    margin: 0rem 0.7rem
}
.ac{
    font-weight: bold;
    /* color: #e0726c; */
    color:#00264D;
    font-size: 12px
}
input, button, textarea, select{
    width: 98.5%;
    /* background-color: #fff2f1; */
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 8px 17px;
    font-size:13px;
    border: 1px solid #f5f0ef;
    /* color: #dccece */
    color:#00264D
}
input:hover{
    text-decoration: none
}

.form-control:focus {
    border-color: #a5582c;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.bt{
    /* background-color: #ff4133; */
    background-color: #a5582c; 
    color: #f0f0f0;
    margin-bottom: 0%;
    /* border: 1px solid rgb(300, 200, 200); */
    border: 1px solid whitesmoke;
}
button:hover{
    background-color: #f5f0ef;
    border-color: #a5582c;
    text-transform: capitalize;
    color: #030303 !important;
}
form{
    margin-top: 20px
}
form >*{
    margin: 10px 0px
}
#backBtn,#saveBtn,#cancelBtn{
    margin-top: 10px;
    /* margin-left: 50px; */
   
}
#nextBtn{
    text-align: center;
    /* margin-left: 50px; */
    margin-top: 10px;
    
}

.wlcm{
    font-size: 30px;
    text-transform: capitalize;
    color:whitesmoke;
}
.sp1{
    font-size: 7px;
    
}
.sp1 >span{
    background-color: #f0c3be;
   
}

.left-text{
    /* color:rgb(140,139,139); */
    color:#030303;
    font-size: 0.9rem;
}

.previewCard{
    margin-left: 30px !important;
}

.multiselect-dropdown[_ngcontent-ng-c692748064] .dropdown-btn[_ngcontent-ng-c692748064] {
    display: inline-block;
    border: none;
    background-color: #f0f0f0;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
}





        
      
    
  