.add-member-button{
    background-color: #A5582C;
    color:#ffffff;
    border:none;
}
.back-button{
    background-color: #a6674c;
    border: 2px solid #a6674c;
    margin:5px 5px;
}
.back-button:hover{
    transform: translateY(-5px);
    background-image: linear-gradient(-45deg, #a6674c 0%, #b98663 100%);
}

.header{
    display: flex;
   align-items: center;
   justify-content:space-between;
   position: relative;
   margin:10px;
}
.header-text{
    position: absolute;
    justify-content: center;
    text-align: center;
    margin-left: 100px
}

