<div class="front">
  <div class="container">
    <div class="header">
      <button class="rounded-pill px-2 py-1 text-white back-button" (click)="back()"><mat-icon class="align-content-center justify-content-center">arrow_back</mat-icon></button>
      <div class="header-text">
        <h4 class="text-center mt-3 mb-3 align-items-center justify-content-center">Members Of {{groupDetails.name}}</h4>
      </div>
    </div>
   

   <ng-multiselect-dropdown
  [placeholder]="'Add Members'"
  [settings]="dropdownSettings"
  [data]="addMemberList"
  [(ngModel)]="selectedItems"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown>
 <button *ngIf="selectedItems && selectedItems.length > 0" 
          class="rounded-pill px-2 py-2 mt-2 text-white add-member-button" 
          (click)="addMembers(groupDetails.id)">
  Add Members
  </button>

  <div class="resultTable mt-5">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Member Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
           
          </tr>
        </thead>
        <tbody *ngFor="let member of members">        
          <tr>
            <td>{{member.id}}</td>
            <td>{{member.name}}</td>
            <td>{{member.email}}</td>
            <td><mat-icon (click)="deleteMemberOfGroup(groupDetails.id,member.id)" style="cursor: pointer;">delete</mat-icon></td>
          </tr>
        </tbody>
      </table>    
  </div>
  </div>
  </div>